// fonts


// variables


// mixins

body {
  background: purple;
}

div {
  border-radius: 50%;
  background-image: linear-gradient(to bottom #444 #121212);
  box-shadow: 0 4px 6px rgb(73, 37, 37);
}